# Available parameters and their default values for the Consul chart.

global:
  datacenter: dc1
  image: "judithpatudith/consul-dev:metrics"
  imageK8S: "judithpatudith/consul-dev:k8s-metrics"
  pullPolicy: Never

server:
  replicas: 1
  bootstrapExpect: 1
  disruptionBudget:
    enabled: true
    maxUnavailable: 0

client:
  enabled: true
  grpc: true

ui:
  enabled: true

connectInject:
  enabled: true
  default: true
  centralConfig:
    enabled: true
    defaultProtocol: "http"
    proxyDefaults: |
      {
      "envoy_dogstatsd_url": "udp://127.0.0.1:9125"
      }
